
<h2>@ViewData["Title"]</h2>

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div class="container header">
    <div class="header-bg">
        <h2>About and Contact</h2>
        <h4 class="sub-title">This page has about and contact description.</h4>
    </div>

</div>

<div class="container body">
    <div class="bg">
        <div class="effect c1">
            <div class="c1-bg">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Volutpat est velit egestas dui id ornare arcu. Justo la
                    oreet sit amet cursus sit amet. Odio eu feugiat pretium nibh ipsum consequat nisl vel pretium.
                    Sit amet consectetur adipiscing elit. Vitae congue eu consequat ac felis donec et odio pellentesque.
                    Aliquet lectus proin nibh nisl condimentum id venenatis. Auctor eu augue ut lectus arcu bibendum at
                    varius vel. Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Scelerisque felis
                    imperdiet proin fermentum. Nisi quis eleifend quam adipiscing vitae proin.
                </p>

                <p>
                    Congue nisi vitae suscipit tellus. Vestibulum lorem sed risus ultricies tristique nulla.
                    Lectus urna duis convallis convallis. Curabitur gravida arcu ac tortor dignissim convallis aenean.
                    Nulla facilisi cras fermentum odio eu feugiat pretium. Quis viverra nibh cras pulvinar mattis nunc
                    sed blandit. Cras tincidunt lobortis feugiat vivamus at augue eget. Dignissim suspendisse in est
                    ante in nibh. Aliquam etiam erat velit scelerisque in dictum non consectetur a. Leo integer malesuada
                    nunc vel.
                </p>
                <p>
                    Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Tortor consequat
                    id porta nibh venenatis. Elementum nibh tellus molestie nunc non blandit. Duis tristique
                    sollicitudin nibh sit amet commodo nulla. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper
                    malesuada proin. Vel facilisis volutpat est velit egestas dui id. Eget magna fermentum iaculis eu. In
                    nulla posuere sollicitudin aliquam ultrices. Vitae semper quis lectus nulla at. Augue ut lectus arcu
                    bibendum at varius vel.
                </p>
            </div>
        </div>

        <div class="c1-bg">
            <div class="contact">
                <h2>Contact</h2>
                <div class="row">
                    <h3>Address</h3>
                    <p>1/84A- Block F-1, Lorem Ipsum xyz- 121212</p>
                </div>
                <div class="row">
                    <h3>Phone</h3>
                    <a href="tel:+01xxxxxxxx">+01xxxxxxxx</a>
                </div>
                <div class="row">
                    <h3>Email</h3>
                    <a href="mailto:xyz@xyz.xyz">xyz@xyz.xyz</a>
                </div>
            </div>
         </div>
    </div>
</div>

